@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

input::placeholder{
  color: rgba(0, 0, 0, 0.774);
}

p, h1, h3, h2, h4, a, li{
  color: aliceblue;
}

.hero-container{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../public/img/bg-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-header{
  background: linear-gradient(#7f1d1d, #7f1d1d00);
}

.div-buble{
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  box-shadow: rgba(255, 0, 0, 0.56) 70px 52px 170px 74px;
}

.TOPCARDS-H1 {
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

li, a{
  text-decoration: none;
  text-decoration-line: none;
}

  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(19, 76%, 47%, 0.2),
        0 0 0.125em hsla(0, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(0, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(162, 100%, 86%, 0);
    }
    
    30% { 
      color: hsl(39, 100%, 68%);
      text-shadow:
        0 0 1em hsla(69, 100%, 50%, 0.5),
        0 0 0.125em hsla(24, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(0, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(29, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(0, 100%, 86%);
      text-shadow:
        0 0 1em hsla(0, 100%, 65%, 0.5),
        0 0 0.125em hsla(69, 49%, 67%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(0, 100%, 87%);
      text-shadow:
        0 0 1em hsla(0, 100%, 50%, 0.5),
        0 0 0.125em hsla(19, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(101, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(56, 39%, 80%);
      text-shadow:
        0 0 1em hsla(0, 100%, 50%, 0.2),
        0 0 0.125em hsla(150, 100%, 60%, 0.3)
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  