@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder{
  color: rgba(0, 0, 0, 0.774);
}

p, h1, h3, h2, h4, a{
  color: aliceblue;
}

.hero-container{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../public/img/bg-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-header{
  background: linear-gradient(#7f1d1d, #7f1d1d00);
}